<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>11</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/rafhael-art/WinFormsAutoUpdate/main/published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net6.0-windows\app.publish\</PublishDir>
    <PublishUrl>D:\Nueva carpeta\WinFormsAutoUpdate\published\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(ninguno)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/rafhael-art/WinFormsAutoUpdate/main/published/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-02-06T15:52:49.6397644Z;True|2023-02-06T10:49:42.1988747-05:00;True|2023-02-06T10:09:55.5775364-05:00;True|2023-02-06T10:07:50.3713885-05:00;True|2023-02-06T10:04:24.6105772-05:00;True|2023-02-06T09:48:15.6935457-05:00;True|2023-02-06T09:45:13.3985963-05:00;True|2023-02-06T09:35:27.5436595-05:00;True|2023-02-06T02:08:40.6337869-05:00;True|2023-02-06T02:04:46.2904601-05:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>Entorno de ejecución de escritorio de .NET 6.0.13 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>